#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 2rem;
  text-align: center;
}
button.unlock_suggestions{
  margin-top: 2rem;
  padding:0.9rem;
  font-size:17px;
  font-weight:bolder;
  outline:none;
  border:none;
  border-color:none;
  background-color: white;
  color: black;
  cursor:pointer;
  border-radius:8px;
  margin-bottom: 1rem;
  
}
button.unlock_suggestions:hover{
  background-color: black;
  color:white;
}
 @media(min-width:1150px){
  button.unlock_suggestions{
    position: relative;
    right: 12rem;
  }
 }